

.parallax {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url(../img/fondo.avif) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#text {
	position: relative;
	font-size: 5em;
	color: #1b283a;
	text-shadow: 2px 4px 5px #f9f9f9;
}

#countdown { 
	text-align: center;
	font-size: 1.5em;
	margin: 30px auto;
	padding: 20px;
	color: #fff;
	background: linear-gradient(90deg, #534f4f, #69806a);
	border-radius: 15px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
	max-width: 500px;
	border: 3px solid #3b3108;
	animation: pulse 1.5s infinite;
}

#countdown p {
	margin: 10px 0;
}

@keyframes pulse {

	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
	}
}

